div {
    --border: 1px solid black;
}

#container {
    width: 800px;
    --margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}

#main {
    height: 500px;
    background-color: aliceblue;
}
    #main-layer1 {
        width: 15%;
        height: inherit;
        background-color: cadetblue;
        float: left;
    }
    #main-layer2 {
        width: 60%;
        height: inherit;
        background-color: thistle;
        float: left;
    }
    #main-layer3 {
        width: 25%;
        height: inherit;
        background-color: khaki;
        float: left;
    }

#footer {
    height: 100px;
    background-color: lightsalmon;
}